{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    <div class="container">
        <h1>Artiste</h1>
        <hr>

        <table class="table">
            <tbody>
            {% for artiste in artistes %}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ artiste.id }}</td>#}
{#            </tr>#}
                <tr>
                    <th>Nom</th>
                    <td>{{ artiste.nom }}</td>
                </tr>
                <tr>
                    <th>Pays</th>
                    <td>{{ artiste.pays }}</td>
                </tr>
                <tr>
                    <th>Style</th>
                    <td>{{ artiste.style }}</td>
                </tr>
                <tr>
                    <th>Presentation</th>
                    <td>{{ artiste.presentation }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>{{ asset(artiste.image) | figure("") | raw }}</td>
                </tr>
            {% else %}
                <tr>
                    Artist not found
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('artiste_index') }}" class="btn btn-primary">back to list</a>

        {% for artiste in artistes %}
            <a href="{{ path('artiste_edit', {'id': artiste.id}) }}" class="btn btn-primary">edit</a>
            {{ include('artiste/_delete_form.html.twig') }}
        {% else %}
            <tr>

            </tr>
        {% endfor %}
    </div>
{% endblock %}

{#{% block javascript %}#}

{#<script type="text/javascript">#}
{#    document.addEventListener('DOMContentLoaded', () => {#}
{#            let divSameArtists = document.querySelector('#same-artistes');#}
{#            fetch('/artiste/{{ artiste.id }}/same-style')#}
{#                .then((response) => {#}
{#                    return response.json();#}
{#                })#}
{#                .then((data) => {#}
{#                    let sameArtists = Object.create(data);#}
{#                    let artistsList = document.createElement('ul');#}
{#                    divSameArtists.appendChild(artistsList);#}
{#                    sameArtists.forEach((item) => {#}
{#                        let artistsListItem = document.createElement('li');#}
{#                        let artist = document.createElement('a');#}
{#                        artist.href = item.href;#}
{#                        artist.innerHTML = item.name;#}
{#                        artistsListItem.appendChild(artist);#}
{#                        artistsList.appendChild(artistsListItem)#}
{#                    })#}
{#                })#}
{#        }#}
{#    )#}
{#</script>#}

{#{% endblock %}#}